body {  background-color: rgb(227, 230, 245);}
h1 {  color: blue;
font-family: Verdana;
font-size: 300%;}
h2 {  color: rgb(247, 0, 255);
font-family:Arial;
font-size: 200%;}
h3 {  color: rgb(145, 255, 0);
font-family:Times New Roman;
font-size: 100%;}
font-family:Tahoma;
font-size: 70%;}